{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>IPC Search Engine</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="Infosydda">
  <link rel="shortcut icon" href="{% static 'assets/images/coderdocs-logo.svg' %}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- FontAwesome JS-->
  <script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
  <link rel="stylesheet" href="{% static 'assets/plugins/simplelightbox/simple-lightbox.min.css' %}">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">

</head>

<body class="docs-page">
  <header class="header fixed-top">
    <div class="branding docs-branding">
      <div class="container-fluid position-relative py-2">
        <div class="docs-logo-wrapper">
          <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none"
            type="button">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="site-logo"><a class="navbar-brand" href="#"><img class="logo-icon me-2" src="{% static 'assets/images/coderdocs-logo.svg' %}" alt="logo"><span class="logo-text">Search<span class="text-alt"> IPC
          </span>
        </span></a>
      </div>
      </div>

        <div class="docs-top-utilities d-flex justify-content-end align-items-center">
          <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
            </a></li>
          </ul>
          <a href="#" class="btn btn-primary d-none d-lg-flex">Contact</a>
        </div>

      </div>
    </div>
  </header>
    <div class="page-header theme-bg-dark py-5 text-center position-relative">
      <div class="theme-bg-shapes-right"></div>
      <div class="theme-bg-shapes-left"></div>
      <div class="container">
        <h1 class="page-heading single-col-max mx-auto">Documentation</h1>
        <div class="page-intro single-col-max mx-auto">Everything you need to get your software documentation online.</div>
        <div class="main-search-box pt-3 d-block mx-auto">
          <form class="search-form w-100" action="{% url 'search_results' %}" method="get">
            <input type="text" placeholder="Search IPC Sections..." name="q" class="form-control search-input">
            <button type="submit" class="btn search-btn" value="q"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </div><!--//page-header-->
  <div class="docs-wrapper">
    <div id="docs-sidebar" class="docs-sidebar">
      <nav id="docs-nav" class="docs-nav navbar">
        
        <ul class="section-items list-unstyled nav flex-column pb-3">
          
          <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-8"><span
                class="theme-icon-holder me-2"><i class="fas fa-book-reader"></i></span>Resources</a>
          </li>
          
          <li class="nav-item"><a class="nav-link scrollto" href="#item-8-1">Section Item 8.1</a></li>
          
        </ul>
      
      </nav>

    </div>
    <div class="docs-content" style="padding-bottom: 200px;">
      <div class="container">
        <article class="docs-article" id="section-8">
          <header class="docs-header">
            
            <h1 class="docs-heading">Resources</h1>
            <section class="docs-intro">
              <p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
          
          </header>
          <section class="docs-section" id="item-8-1">
            {% for data in object_list %}
            <h2 class="section-heading">{{ data.section}} : {{ data.section_name}}</h2>
            
            <p>{{ data.description }}</p>
            {% endfor %}
          </section>

        </article>
        
        <nav aria-label="Page navigation example">
          <ul class="pagination pl-0">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      
      </div>
    </div>
    
    <footer class="footer">
      <div class="container text-center py-5">
        <small class="copyright">Developed <a href="#" target="_blank">Infosydda</a></small>
        <ul class="social-list list-unstyled pt-4 mb-0">
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Javascript -->
  <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Page Specific JS -->
  <script src="{% static 'assets/plugins/smoothscroll.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script src="{% static 'assets/js/highlight-custom.js' %}"></script>
  <script src="{% static 'assets/plugins/simplelightbox/simple-lightbox.min.js' %}"></script>
  <script src="{% static 'assets/plugins/gumshoe/gumshoe.polyfills.min.js' %}"></script>
  <script src="{% static 'assets/js/docs.js' %}"></script>

</body>

</html>